snippets {
	display: none;
}

.hidden {
	display: none;
}

#country > #selection {
	overflow: scroll;
	overflow-x: hidden;
	max-height: 75%;
}

#country > #header {
	display: flex;
	background-repeat: no-repeat;
	background-position-x: 37.5%;
	background-position-y: 50%;
}

#country > .btn-group {
	display: grid;
}

#country > .btn-group > button {
	height: 42px;
}

#vpnToggle {
	display: flex;
}

#vpnToggle > h2 {
	position: relative;
	top: 5px;
	padding-right: 10px;
}

#vpnToggle > h2:last-child {
	left: 10%;
}
