snippets {
	display: none;
}

.hidden {
	display: none;
}

#country {
	overflow: scroll;
	overflow-x: hidden;
	max-height: 80%;
}

#country > #header {
	display: flex;
}

#vpnToggle {
	display: flex;
}

#vpnToggle > h2 {
	position: relative;
	top: 5px;
	padding-right: 10px;
}
